:root{
	--gradient-top: #304790;
	--gradient-mid: #2C3080;
	--gradient-bottom: #2A2571;
	--highlight1: #ABC0E4;
	--highlight2: #2D3183;
	--bg-top: #2A2571;
	--bg-mid: #1E2A64;
	--bg-bottom: #172F49;
	--bg: var(--bg-mid);
	--ribbon-height: 70px;
	--ribbon-outline-height: 74px;
	--doc-margin-hor: 2vw;
}

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	min-height: 100vh;
	box-sizing: border-box;
	background-color: var(--bg-mid);
	background-image: linear-gradient(
	to bottom, 
	var(--bg-top), 
	var(--bg-mid), 
	var(--bg-bottom)
	);
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(0,1fr);
}

.ribbon_top{
	margin: 10px;
	width: 100%;
	height: var(--ribbon-outline-height);
	background: linear-gradient(
	to right, 
	#CDD9EF, 
	#7D84C9, 
	var(--gradient-bottom)
	);
	border-radius: 15px;
	position: fixed;
	margin-left: auto;
	z-index: 1;
	padding: 0px;
	top:0;
	filter: drop-shadow(0px 0px 10px rgb(0, 0, 0, .25));
}
.ribbon_content_top li{
	list-style-type: none;
	float: right;
	display: inline;
	margin-top: auto;
	margin-bottom: auto;
}
.ribbon_content_top li .ribbon_top_button_link{
	list-style-type: none;
	float: right;
	display: inline;
	transition-duration: .5s;
	border-radius: 15px;
}

.ribbon_content_top li .ribbon_top_button_link:active{
	list-style-type: none;
	float: right;
	display: inline;
	background-color: var(--highlight2);
	transition-duration: .2s;
	border-radius: 15px;
}

.ribbon_content_nav{
	padding: 15px 10px;
	margin-top: auto;
	margin-bottom: auto;
}

.ribbon_field_top{
	margin: 2px;
	margin-right: 15px;
	width: device-width;
	height: var(--ribbon-height);
	transform: translate(0px, -14px);
	border-radius: 15px;
	background-image: linear-gradient(
	to right, 
	var(--gradient-top), 
	var(--gradient-mid), 
	var(--gradient-bottom)
	);
}
.logo {
	margin:0 auto;
	padding: 5px 0px;
	max-height: var(--ribbon-height);
	max-width: 100%;
	clear: both;
	filter: drop-shadow(0px 0px 1px white);
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.content{
	border: 4px double var(--highlight2);
	border-radius: 8px;
	margin:0 auto;
	margin-left: 5px;
	margin-right: 5px;
}
.content h1{
	color: white;
	font-size: 48px;
	text-align:center;
	filter: drop-shadow(0px 0px 1px white);
}
.content h2{
	color: white;
	font-size: 32px;
	text-align:center;
	filter: drop-shadow(0px 0px 1px white);
}
.content p{
	color: white;
	font-size: 14px;
	margin-left: var(--doc-margin-hor);
	margin-right: var(--doc-margin-hor);
	filter: drop-shadow(0px 0px 1px white);
}
.content a{
	text-decoration-line: none;
}	


.content ul{
	display: inline;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.content-button li{
	list-style-type: none;
	display: inline;
	margin: 25px;
	padding: 0px;
}
.content-button button{
	width: 96px;
	height: 32px;
	background-color: var(--bg); 
	list-style-position: outside;
	color: white; 
	border: 2px solid var(--highlight1);
	margin-bottom: 25px;
	transition-duration: .5s;
	cursor: pointer;
}
.content-button .button-disabled{
	opacity: .5;
	cursor: not-allowed;
}

.content-button button:active{
	list-style-position: outside;
	background-color: var(--highlight2);
	transition-duration: .2s;
}

.dropdown{
	position: relative;
	display: none;
}

.dropdown .dropbutton{
	height: var(--ribbon-height);
	border-radius: 15px;
	border: none;
	background-color: var(--highlight2); 
	transition-duration: .5s;
}

/* Dropdown Content (Hidden by Default) */
.dropdown .dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--bg); 
	border: 2px solid var(--highlight1);
	border-radius: 8px;
	right: 0;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content .drop-content-button{
	border: none;
	border-radius: 8px;
	color: white;
	min-width: 160px;
	background-color: var(--bg); 
	transition-duration: .5s;
	text-align: right;
}
.drop-content-button:active{
	background-color: var(--highlight2);
	transition-duration: .2s;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}
.dropbutton:hover{
	background-color: var(--highlight2);
	transition-duration: .2s;
}


footer{
	color: white;
	min-height: 60px;
	padding: 20px 0px 20px;
	width: 100%;
	clear: both;
	background: rgba(0,0,0,0.25);
}
.bottom_footer{
	color: var(--highlight1);
	min-height: 10px;
	padding: 10px 0px;
	text-align: center;
	font-size: 10px;
	width: 100%;
	clear: both;
	background: rgba(0,0,0,0.3);
}
.social_icon{
	display: flex;
	justify-content: center;
}
.social_icon a{
	text-decoration: none;
	text-align: center;
	padding: 10px;
	background-color: var(--bg);
	margin: 15px;
	border-radius: 50%;
	transition-duration: .5s;
}
.social_icon a i{
	font-size: 30px;
	width: 30px;
	color: white;
	opacity: .9;
	transition-duration: .5s;
}
.social_icon a:hover i{
	color: var(--bg);
	opacity: 1;
	transition-duration: .2s;
}
.social_icon a:hover{
	background-color: white;
	transition-duration: .2s;
}


.ribbon_top_button_link img{
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.dropdown-content img{
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.dropbutton img{
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 640px) {
	.ribbon_content_nav{
		display: none;
	}
	.dropdown{
		display: inline;
	}
	.content-button button{
		display: block;
		margin: auto;
	}
}
