:root{
	--gradient-top: #182B4C;
	--gradient-mid: #162746;
	--gradient-bottom: #13223D;
	--highlight1: #ABC0E4;
	--highlight2: #1C3158;
	--bg: #13223D;
	--ribbon-height: 5vw;
	--ribbon-outline-height: 5.1vw;
	--doc-margin-hor: 6.667vw;
}

body{
	background-color: var(--bg);
}

.ribbon_top{
	margin: 1vw;
	width: device-width;
	height: var(--ribbon-outline-height);
	background: linear-gradient(
	to right, 
	#CDD9EF, 
	#ABC0E4, 
	var(--gradient-bottom)
	);
	border-radius: 2vw;
}
.ribbon_content_top li{
	list-style-type: none;
	float: right;
	display: inline;
	padding: 1vw .9vw;

}
.ribbon_content_nav{
	height: 3vw;
	width: 3vw;
}
.ribbon_content_top li a{
	list-style-type: none;
	float: right;
	display: inline;
	transition-duration: .5s;
	border-radius: 50%;
}
.ribbon_content_top li a:hover{
	list-style-type: none;
	float: right;
	display: inline;
	background-color: var(--highlight2);
	transition-duration: .5s;
	border-radius: 50%;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 640px) {
	.content-button button{
		display: block;
		margin-left: 50%;
	}
}
.ribbon_field_top{
	margin: .2vw;
	width: device-width;
	height: var(--ribbon-height);
	border-radius: 2vw;
	background-image: linear-gradient(
	to right, 
	var(--gradient-top), 
	var(--gradient-mid), 
	var(--gradient-bottom)
	);
}
.ribbon_field_top:hover{
	background-image: linear-gradient(
	to right, 
	var(--gradient-top), 
	var(--gradient-top), 
	var(--gradient-bottom)
	);
}
.logo {
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
  height: 6vw;
  width: 27vw;
  clear: both;
  filter: drop-shadow(0px 0px 1px white);
}

.content{
	border: .5vw double var(--highlight2);
	border-radius: .2vw;
}
.content h1{
	color: white;
	font-size: 3vw;
	text-align:center;
	filter: drop-shadow(0px 0px 1px white);
}
.content p{
	color: white;
	font-size: 1.5vw;
	margin-left: var(--doc-margin-hor);
	margin-right: var(--doc-margin-hor);
	filter: drop-shadow(0px 0px 1px white);
}


.content-button li{
	list-style-type: none;
	display: inline;
	margin-left: 2vw;
}
.content-button button{
	width: 12vw;
	height: 5vw;
	font-size: 1.5vw;
	background-color: var(--bg); 
	color: white; 
	border: .2vw solid var(--highlight1);
	transition-duration: .5s;
}
.content-button .btn-disabled{
	opacity: .5;
	cursor: not-allowed;
}

.content-button button:hover{
	list-style-type: none;
	background-color: var(--highlight2);
	transition-duration: .5s;
}



